/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-image: repeating-linear-gradient("img/bg01.png");
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
body {
  background-color: #D3D3D3;
}
body h2 {
  font-weight: bold;
}
body .topcontent {
  display: flex;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-top: 4.5rem;
  padding: 4.5rem;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
}
body .topcontent .topleft {
  width: 59%;
}
body .topcontent .topleft #bannerh2 {
  font-size: 3.5rem;
}
body .topcontent .topleft #bannerp {
  font-size: 2.75rem;
}
body .topcontent .topright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 20%;
}
body .topcontent .topright div {
  margin: 10px;
  background-color: dodgerblue;
  border-radius: 0.5rem;
  padding: 1rem 4rem 1rem 4rem;
}
body .topcontent .topright .morebutton {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
body .middlecontent {
  display: flex;
  justify-content: space-between;
  padding: 4.5rem;
}
body .middlecontent .middlebox {
  background-color: #f7f7f7;
  border-radius: 1rem;
  width: 30%;
}
body .middlecontent .middlebox .middleboxtext {
  padding: 1rem;
}
body .middlecontent .middlebox img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}
body .bottomcontent {
  display: flex;
  padding: 4.5rem;
  background-color: #f7f7f7;
}
body .bottomcontent .bottomleftbox img {
  width: 45%;
  border-radius: 0.5rem;
}
body .bottomcontent .bottomleftbox .morebutton {
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
  font-size: 2rem;
}
body .bottomcontent .bottomleftbox .bottomleftbutton {
  background-color: dodgerblue;
  border-radius: 0.5rem;
  padding: 1rem 4rem 1rem 4rem;
}

header {
  padding: 4.5em 0 3em 0;
  height: 160px;
}

header nav{
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
  padding: 0 2% 0 1.5%;
  height: inherit;
}

header nav h1 {
  background-color: rgb(255,224,205);
  border-radius: 10px;
  color: white;
  font-size: 3rem;
  padding: 2% 4%;
  border-color: rgb(227,87,17);
  border-style: solid;
}

.nav_links {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.nav_links li {
  font-size: 1.5rem;
  cursor: pointer;
}